useDynLib(BiRewire)
import(igraph)
import(slam)
import(Rtsne)	
import(Matrix)	
export(
birewire.analysis.bipartite,
birewire.rewire.undirected,
birewire.analysis.undirected,
birewire.rewire.bipartite,
birewire.bipartite.from.incidence,
birewire.similarity,
birewire.rewire.bipartite.and.projections,
birewire.sampler.bipartite,
birewire.sampler.undirected,
birewire.visual.monitoring.bipartite,
birewire.visual.monitoring.undirected,
birewire.sampler.dsg,
birewire.rewire.dsg,
birewire.induced.bipartite,
birewire.build.dsg,
birewire.load.dsg,
birewire.similarity.dsg,
birewire.analysis.dsg,
birewire.visual.monitoring.dsg,
birewire.slum.to.sparseMatrix)

