export("cosine")
export("dimcalc_share", "dimcalc_kaiser", "dimcalc_ndocs", "dimcalc_raw")
export("textmatrix", "textvector")
export("sample.textmatrix")
export("query")
export("associate")
export("getTriple", "setTriple", "delTriple")
export("lw_tf", "lw_logtf", "lw_bintf", "gw_normalisation", "gw_idf", "gw_gfidf", "entropy", "gw_entropy")
export("lsa", "as.textmatrix", "fold_in")
export("print.textmatrix", "summary.textmatrix")
S3method("print", "textmatrix")
S3method("summary", "textmatrix")
#export("corpus_essays", "corpus_scores", "corpus_training")
#export("stopwords_ar", "stopwords_de", "stopwords_en", "stopwords_fr", "stopwords_nl", "stopwords_pl")
#export("alnumx", "specialchars")
importFrom("SnowballC", "wordStem")

importFrom("stats", "cor", "xtabs")
importFrom("utils", "data")

